<<<<<<< HEAD
/* NavBar css */
.logo-img {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  max-width: 100px;
}

section {
  padding: 20px;
}


/* hero css */

.hero {
  display: flex;
  flex-direction: column;
}

.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}


/* card css */
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}


.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  /* ADD */
  display: flex;
  /* ADD */
  flex-direction: column;
  /* ADD */
}

.card--image {
  width: 100%;
  max-height: 234px;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.card--star {
  height: 14px;
}

.bold {
  font-weight: bold;
}


/* ADD */
.card--price {
  margin-top: auto;
=======
* {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}

/* header file elements */

.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    padding: 15px;
    padding-left: 25px;
    color: white;
    background-image: linear-gradient(to right, rgb(223, 96, 50), rgb(223, 223, 69));
}

.header-image {
    height: 100%;
    margin-right: 6px;
}

.heading {
    font-weight: 500;
    margin-right: auto;
}

.para {
    margin: auto;
}

/* form page css */

.form {
    margin-top: 15px;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    padding: 30px;
    padding-top: 0px;

}

.form-input {

    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 125px;

}

.form-button {
    background-color: rgb(202, 151, 32);
    grid-column: 1 / -1;
    font-size: 1.20rem;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Meme File CSS */


.meme {
    position: relative;
    display: flex;
    justify-content: center;
}

.meme--image {
    max-width: 400px;
    max-height: 300px;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
>>>>>>> 2eb2ec710968f47b4e17d03ad94711babd26aa9d
}